* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  height: 741px;
  border-radius: 15px;
  position: relative;
  background-image: url('homebg.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

#container2 {
  z-index: 2;
  width: 87%;
  height: 200px;
  background-color: white;
  margin: auto;
  position: relative;
  bottom: 85px;
  border-radius: 15px;
  /* stackoverflow */
  -webkit-box-shadow: 0px 0px 8px grey;
}

.header {
  height: 20%;
  display: flex;
}

.header div {
  flex: 1;
  box-sizing: border-box;
}

.footer {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer div {
  width: 100%;
  height: 80%;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 29px;
  line-height: 0%;
}
#left {
  display: flex;
  align-items: center;
  font-size: 25px;
}
p {
  color: white;
}
h2,
h4 {
  color: white;
}
.footer h1 {
  color: white;
  font-size: 80px;
  letter-spacing: 11px;
}
#center {
  display: flex;
  justify-content: center;
}
button {
  border: none;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  border-radius: 7px;
  font-size: 16px;
}
.header div a {
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px 10px;
  font-family: 'Montserrat', sans-serif;
}
#right {
  display: flex;
  align-items: center;
  font-size: 25px;
}
#loginUP {
  margin-left: 50%;
}
#top {
  /* border-color: black;
  border: 2px solid #000; */
  position: relative;
  top: 24px;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
#mid {
  /* border-color: black;
  border: 2px solid #000; */
  position: relative;
  top: 24px;
  margin-top: 30px;
}
#bot {
  /* border-color: black;
  border: 2px solid #000; */
  position: relative;
  top: 24px;
  margin-top: 30px;
  display: flex;
  position: relative;
  margin-left: 72%;
}
.material-symbols-outlined {
  font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
}

.Stays{
  margin-left: 50px;
}
#bcolor {
  background-color: #8DD3BB;
  width: 150px;
  height: 50px;
}

#bcolor:hover{
  cursor: pointer;
transform: scale(1.02);
transition-duration: 160ms;
}

.botbutton {
  border: none;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  background-color: white;
}

.botbutton:hover{
  cursor: pointer;
transform: scale(1.02);
transition-duration: 160ms;
}

.loginbot{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
}

.loginbot:hover{
  cursor: pointer;
transform: scale(1.02);
transition-duration: 160ms;
}
/* Internal CSS */
#container3 {
  /* background-color: #3498db; */
  width: 87%;
  height: 562px;
  /* border: 3px solid #000000; */
  display: flex;
  flex-direction: column;
  margin: auto;
  
}

/* Style for the first nested div */
.nestedDiv1 {
  flex: 2; /* Takes up 1/10 of the parent height */
  /* border: 2px solid #000000; */
  background-color: transparent; /* No background color */
  margin-bottom: 10px;
}

.nestedDiv3{
  flex: 2; /* Takes up 1/10 of the parent height */
  /* border: 2px solid #000000; */
  /* background-color: rebeccapurple; */
  margin-bottom: 10px;
  width: 87%;
}

#nestedDiv4{
  display: flex;
  justify-content: space-between;

}

/* Style for the second nested div */
.nestedDiv2 {
  flex: 8; /* Takes up 9/10 of the parent height */
  /* border: 2px solid #000000;  */
  background-color: transparent; /* No background color */
  display: flex;
  flex-wrap: wrap; /* Enable wrapping for the inner divs */
  gap: 6px; /* Space between inner divs */
}

/* Style for the three equal-width divs inside nestedDiv2 */
.innerDiv {
  flex: 0 0 calc(33.33% - 6px); /* Each div takes up 33.33% width with margin accounted for */
  box-sizing: border-box; /* Include borders in the width calculation */
  /* border: 2px solid #ff0000; */
  background-color: transparent; /* No background color */
  height: 122px; /* Set height to 50px */
  display: flex;
  -webkit-box-shadow: 0px 0px 8px grey;
  border-radius: 10px;
  margin: 1px;
}

#nestedbutton{
  position: relative;
  left: 85%;
  bottom: 35%;
  border: none;
  margin-left: 20px;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  background-color: white;
  border: 1.5px solid #8DD3BB;
}

#nestedbutton:hover{
  cursor: pointer;
transform: scale(1.02);
transition-duration: 160ms;
}

#img{
  margin: 3px;
  margin-top: 9px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

#test{
  position: relative;
  top: 40px;
  right: 90px;
}

#container4 {
display: flex;
height: 700px;
width: 87%;
margin: auto;
/* padding: 10%;
position: relative;
bottom: 150px; */
}

#box1 {
width: 49.2%;
height: 600px;
/* background-color: blue; */
color: white;
display: flex;
justify-content: center;
align-items: center;
margin-right: 27px;
margin-top: 50px;
border-radius: 15px;
background-image: url('flightss.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#box2 {
width: 49.2%;
height: 600px;
/* background-color: blue; */
color: white;
display: flex;
justify-content: center;
align-items: center;
margin: auto;
margin-top: 50px;
border-radius: 15px;
background-image: url('hotel.png');
background-repeat: no-repeat;
background-size: cover; 
}

#info{
/* border: 2px solid red; */
position: relative;
top: 195px;
}

#cont4 {
width: 150px;
background-color: #8DD3BB;
border-radius: 5px;
}

#cont4:hover {
cursor: pointer;
transform: scale(1.02);
transition-duration: 160ms;
}

#container5{
height: 900px;
margin-left: 6.5%;
}

#nestedbutton3{
position: relative;
left: 98%;
bottom: 53px;
border: 1px solid #8DD3BB;
background-color: white;
}

.card {
box-shadow: 15px 15px 1px 0 rgb(141, 217, 187);
border: 1px solid rgb(217, 208, 208);
/* background-color: red; */
max-width: 485px;
height: 659px;
text-align: center;
font-family: arial;
flex: 0 0 30%; 
float: left;
margin-left: 5px;
margin-top: 20px;
margin-right: 30px;
border-radius: 20px;


}

.price {
color: grey;
font-size: 22px;
}

.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
font-size: 18px;
}

.card button:hover {
opacity: 0.7;
}

.newimg{
width: 90%;
height: 250px;
}

.newimg:hover{
  transform: scale(1.01); 
  cursor: pointer;
}

.mainfooter {
  position: relative;
    margin:auto;
  height: 100px;  
  display: flex;
  width: 100%;
}


.gray-box {
  position: absolute;
  background: #8DD3BB;
  height: 300px;
  width: 100%;
  top: 100px;
}

.green-box {
  position: absolute;
  background: #cdeae1;
  width: 90%;
  margin: auto;
  left: 100px;
  height: 220px;
  border-radius: 12px;
  display: flex;
  
}

.news{
  width: 50%;
  height: 219px;
}

.form{
  width: 75%;
  background-color: white;
  padding-left: 10px;
  height: 50px;
  border-radius: 8px;
  position: relative;
  bottom: 33px;
  left: 5px;
  border: transparent;
}

.post{    
  height: 190px;
  width: 33%;
  position: relative;
  left: 310px;
  top: 28px;
  background-image: url('post.png');
  background-repeat: no-repeat;
  background-size: contain; 
}

.last{
  height: 150px;
  width: 70%;
  position: relative;
  top: 137px;
  left: 270px;
  background-image: url('footer.png');
  background-repeat: no-repeat;
  background-size: cover;
}
